.body{
  background:linear-gradient(rgba(248, 245, 245, 0.627),rgba(6, 6, 81, 0.381)), url(https://img.freepik.com/free-vector/realistic-design-technology-background_23-2148426705.jpg?w=740&t=st=1708792302~exp=1708792902~hmac=5b07494abd5e1c39a2268adc974066f068205bd48bf98a43b4088c3c5267383c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
button{
  background: linear-gradient(rgba(54, 51, 51, 0.627),rgba(6, 6, 81, 0.381));
}
.success{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  display: none;
}